$blue: #2c2f7a;
$yellow: #fbbd19;

body {
	padding: 0;
	margin: 0;
	font-family: Roboto;
	background-color: #f5f5f5;
}
a {
	text-decoration: none;
}
.navBar {
	z-index: 100;
	position: fixed;
	top: 0;
	transition: top 0.5s ease-in-out;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	background: $yellow;
	background: linear-gradient(135deg, $yellow 40%, $blue 40%);
	box-sizing: border-box;
	padding: 0 20px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
	.logo {
		stroke-width: 10;
	}
	.navButton {
		background-color: $yellow;
		color: $blue;
		border: 2px solid $blue;
		padding: 5px 10px;
		margin: 0 5px;
		font-size: 15px;
		/* text-transform: uppercase; */
		letter-spacing: 1px;
		cursor: pointer;
		transition: all 0.3s ease;
		border-radius: 10px;
		font-weight: 700;
	}

	.navButton:hover {
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
	}
}
.navBar.hide {
	top: -20%;
	transition: top 1s ease-in-out;
}
//Carousel
.carousel {
	position: relative;
	width: 100%;
	margin-top: 108px;
	height: calc(100vh - 108px);
	overflow: hidden;

	.carousel-images {
		display: flex;
		width: 300%; /* Assuming there are 3 images */
		height: 100%;
		transition: transform 0.5s ease-in-out;
		.carousel-image {
			flex-shrink: 0;
			width: 33.3333%; /* Assuming there are 3 images */
			height: 100%;
			object-fit: cover;
		}
		.carousel-image.active {
			opacity: 1;
			display: unset;
		}
	}
	.carousel-button {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background-color: $blue;
		color: $yellow;
		padding: 0 5px;
		font-size: 40px;
		letter-spacing: 1px;
		cursor: pointer;
		transition: all 0.3s ease;
		border-radius: 10px;
		font-weight: 700;
	}
	.carousel-button:hover {
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
	}

	.carousel-button-prev {
		left: 10px;
	}

	.carousel-button-next {
		right: 10px;
	}
}
