* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

footer {
  background-color: #fbbd19;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
  padding: 30px;
  color: #2c2f7a;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}
footer div h4 {
  font-size: 40px;
  margin: 0;
  text-align: center;
}
footer div ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer div img {
  width: 40px;
  color: #2c2f7a;
}

.whatsappButton {
  position: fixed;
  z-index: 4;
  bottom: 50px;
  left: 50px;
}

.navBar {
  z-index: 100;
  position: fixed;
  top: 0;
  transition: top 0.5s ease-in-out;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background: #fbbd19;
  background: linear-gradient(135deg, #fbbd19 40%, #2c2f7a 40%);
  box-sizing: border-box;
  padding: 0 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
  /* ANIMATION */
}
.navBar .logo {
  stroke-width: 10;
}
.navBar .navButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
}
.navBar .navButtons .navButton {
  background-color: #fbbd19;
  color: #2c2f7a;
  padding: 5px 10px;
  margin: 0 5px;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 10px;
  font-weight: 700;
  border: 1px solid #2c2f7a;
}
.navBar .navButtons .navButton a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.navBar .navButtons .navButton a:hover,
.navBar .navButtons .navButton a:focus {
  text-decoration: none;
}
.navBar .navButton:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
}
.navBar .burger {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.navBar .burgerButton {
  width: 40px;
  height: 6px;
  background: #fbbd19;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.3s ease-in-out;
}
.navBar .burgerButton::before,
.navBar .burgerButton::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 6px;
  background: #fbbd19;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.3s ease-in-out;
}
.navBar .burgerButton::before {
  transform: translateY(-14px);
}
.navBar .burgerButton::after {
  transform: translateY(14px);
}
.navBar .burger.open .burgerButton {
  transform: translateX(50px);
  background: transparent;
  box-shadow: none;
}
.navBar .burger.open .burgerButton::before {
  transform: rotate(-45deg) translate(-35px, -35px);
}
.navBar .burger.open .burgerButton::after {
  transform: rotate(45deg) translate(-35px, 35px);
}

.content {
  padding: 50px;
  margin-top: 108px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  min-height: calc(100vh - 108px);
}
.content .card {
  background: #2c2f7a;
  color: #fbbd19;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 250px;
  height: 200px;
  text-align: center;
}
.content .card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.content .dialog {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 101;
}
.content .dialog .slidesContainer {
  position: relative;
  background: #2c2f7a;
  color: #fbbd19;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-bottom: 50px;
  cursor: pointer;
  width: 70%;
}
.content .dialog .slidesContainer .slide {
  display: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content .dialog .slidesContainer .slide h2 {
  text-align: center;
  font-size: 40px;
}
.content .dialog .slidesContainer .slide div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.content .dialog .slidesContainer .slide div .slideContent {
  width: 50%;
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
}
.content .dialog .slidesContainer .slide div .slideContent p {
  width: 100%;
  font-size: 30px;
}
.content .dialog .slidesContainer .slide div .slideContent ul {
  width: 100%;
  font-size: 30px;
}
.content .dialog .slidesContainer .slide div p {
  width: 50%;
  font-size: 30px;
}
.content .dialog .slidesContainer .slide div img {
  width: 50%;
}
.content .dialog .slidesContainer .slide.active {
  display: block;
}
.content .dialog .slidesContainer .slideNavigation {
  position: absolute;
  text-align: center;
  margin-top: 10px;
  bottom: 30px;
}
.content .dialog .slidesContainer .slideButton {
  background-color: #fbbd19;
  color: #2c2f7a;
  padding: 5px 10px;
  margin: 0 5px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
}
.content .dialog .slidesContainer .slideButton:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
}

.mobileContent {
  display: none;
  margin-top: 108px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mobileContent .card {
  background: #2c2f7a;
  color: #fbbd19;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  margin-bottom: 20px;
}
.mobileContent .card p {
  text-align: justify;
  margin: 10px 0;
  font-size: 20px;
}
.mobileContent .card ul {
  margin: 10px 0;
  font-size: 20px;
}
.mobileContent .card img {
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .content .dialog .slidesContainer .slide h2 {
    font-size: 30px;
  }
  .content .dialog .slidesContainer .slide div .slideContent p {
    font-size: 20px;
  }
  .content .dialog .slidesContainer .slide div .slideContent ul {
    font-size: 20px;
  }
  .content .dialog .slidesContainer .slide div p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 980px) {
  .navBar .navButtons {
    position: fixed;
    width: 100%;
    left: -100%;
    top: 100px;
    gap: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2c2f7a;
    transition: all 0.3s;
  }
  .navBar .navButtons .navButton {
    margin: 16px 0;
  }
  .navBar .navButtons.active {
    left: 0;
  }
  .navBar .burger {
    display: flex;
  }
}
@media only screen and (max-width: 768px) {
  .content {
    display: none;
  }
  .mobileContent {
    display: flex;
  }
}/*# sourceMappingURL=projectsStyles.css.map */